.ipynb_checkpoints/
data_archived/
data_final/
data_processed/
data_raw/
logs/
report_examples/
scrap/
scripts/__pycache__/
scripts/.ipynb_checkpoints/
scripts_test/
textbooks/
UNSW-Data-Archive-master/
